<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>china</title>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/echarts.min.js"></script>
    <script src="js/china.js"></script>
</head>
<body>
<div id="main" style="width:1280px;height:720px;"></div>
<script>

   var myMap = echarts.init(document.getElementById("main"));
   myMap.clear();
   var dataList = [];
//    var dict = new Array();
//    dict['name'] = '';
//    dict['value'] = 0;
   $.ajax({
    method: 'get',
        url: '/chinaData',
        dataType: 'json',
        success: function(datas){
            for(var i = 0; i < datas.length; i++){
                var dict = {};
                dict['name'] = '';
                dict['value'] = 0;
                dict['name'] = datas[i].province;
                dict['value'] = parseInt(datas[i].tempMax);
                dataList.push(dict);
            }
        console.log(dataList)
        var option={
            title:{
                text:'全国各省最高温度',
                left:'center',
                textStyle: {
                color: "#fff",
                fontSize: 30,
                },
                subtextStyle: {
                fontSize: 20,
                },
            },
            tooltip: {
                triggerOn: "click",
                formatter: function(e, t, n) {
                return e.seriesName + "<br />" + e.name + "：" + e.value;
                },
            },

            // 热力地图
        visualMap: {
          type:'piecewise',
          top:50,
          right:15,
          text:['高温','低温'],
          textStyle: {
            color: "#fff",
          },
          pieces: [
            {min:41, max:46, color:'rgb(254,57,101)'},
            {min:38, max:40, color:'rgb(252,157,154)'},
            {min:30, max:37, color:'rgb(131,175,155)'}
          ],
        },
            series:[{
            name:'热度',
            data:dataList,
            type:'map',
            map:'china'
            }],
            zoom: 1.2,
            aspectScale: 0.75,
            label: {
              // 默认文本标签样式
              normal: {
                color: "white",
                show: true,
              },
              // 高亮文本标签样式
              emphasis: {
                color: "yellow",
                fontSize: 22,
                fontWeight: "bold",
              },
            },
            itemStyle: {
              // 默认区域样式
              normal: {
                // 区域背景透明
                areaColor: "transparent",
                borderColor: "rgba(39,211,233, 1)",
                borderWidth: 1,
              },
              // 高亮区域样式
              emphasis: {
                // 高亮区域背景色
                areaColor: "#01ADF2",
              },
            },
        }
        myMap.setOption(option,true);
        }
   })
</script>
</body>
</html>