<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--namespace=绑定一个对应的Dao/Mapper接口-->


<mapper namespace="com.dao.UserDao">
    <!--可以给实体类起别名-->
        <!-- 表字段——>实体类属性 -->
    <resultMap id="UsersResultMap" type="com.pojo.Users">
<!--        <result column="id" property="id" jdbcType="INTEGER"></result>-->
        <result column="user_name" property="username" jdbcType="VARCHAR"></result>
<!--        <result column="password" property="password" jdbcType="VARCHAR"></result>-->
    </resultMap>
    <!--sql片段-->
    <sql id="if-id">
        <if test="id > 0">id = #{id}</if>
    </sql>
    <!--select查询语句  使用了映射resuleMap -->
    <select id="getUserList" parameterType="Map" resultMap="UsersResultMap">
    select * from users
    <where>
        <choose>
            <when test="username != null">user_name like '%${username}%'</when>
            <when test="id > 0">id = #{id}</when>
            <otherwise></otherwise>
        </choose>
    </where>
</select>

    <insert id="addUser">
        insert into users values(#{id},#{username},#{password})
    </insert>

    <delete id="delUser">
        delete from users where
        <if test="id > 0">id=#{id}</if>
    </delete>

    <update id="updateUser">
        update users set user_name=#{username},password=#{password} where 
        <include refid="if-id"></include>
    </update>

</mapper>
